body {
    display: flex;
}

.game-container {
    width: 800px;
    height: 730px;
    position: absolute;
    left: 60px;
}

.left-border {
    width: 50px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.right-border {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: 2;
    left: 850px;
}

.top-border {
    width: 860px;
    height: 50px;
    position: absolute;
    background-color: white;
    z-index: 2;
    top: -50px;
}

.sky {
    background-image: url("./images/sky.png");
    width: 800px;
    height: 580px;
    position: absolute;
    z-index: 0;
}

.ground {
    background-image: url("./images/ground.png");
    width: 800px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: 1;
}

.bird {
    background-image: url("./images/bird.png");
    position: absolute;
    width: 60px;
    height: 45px;
}

.obstacle {
    background-image: url("./images/pipe.png");
    width: 60px;
    height: 300px;
    position: absolute;
}

.top-obstacle {
    background-image: url("./images/pipe.png");
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}